.block.notice
  %h3 Overview
  .content
    %p Just read, write, and enjoy!
.block
  %h3 Links
  %ul.navigation
    %li
      = link_to "#{t("web-app-theme.list", :default => "List Stories")}", pieces_path
    %li
      = link_to "#{t("web-app-theme.new", :default => "New Story")}", new_piece_path
